* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
}



.radius-1 {
	border-radius: 5px
}

.radius-2 {
	border-radius: 8px
}

.radius-3 {
	border-radius: 12px
}

.radius-4 {
	border-radius: 16px
}


/* --------- */
.social-icons-list {
	padding: 0
}

.social-icons-list li {
	list-style: none;
	margin-top: 10px
}

.social-button {
	text-decoration: none;
	display: block
}

.social-button:hover {
	background-color: #f2f2f2;
	transition: 0.5s;
}

.social-button img {
	width: 25px;
	height: 25px;
}