* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
}

#wrapper {
	background-color: white;
	flex-direction: column;
	display: flex;
	height: 100vh;
}

#wrapper-inner {
	background-color: green;
	border-radius: 20px;
	border: 1px solid #dfdfdf;
	margin: 0 20px;
}

@media (min-width: 992px) {
	#wrapper {
		display: flex;
		flex-direction: column;
		height: 100vh;
	}

	#inner-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

}

/* ====================== */
.btn-pill {
	border-radius: 80px;
	font-weight: bold;
	padding: 18px;
}


/* MAXIAS
======================= */
.separator-l:before {
	width: 50px;
	height: 2px;
	content: " ";
	display: inline-block;
	margin: 0 10px 3px 0;
	background: #ccc;
}

/* ================ */

.spinner-lg {
	width: 50px;
	height: 51px;
}

.radius-1 {
	border-radius: 5px
}

.radius-2 {
	border-radius: 8px
}

.radius-3 {
	border-radius: 12px
}

.radius-4 {
	border-radius: 16px
}

/* --------- */

.social-inline {
	display: flex;
	justify-content: flex-around;
}

.social-inline li {
	margin: 0 15px 0 0
}

.social-icons-list {
	padding: 0
}

.social-icons-list li {
	list-style: none;
	margin-top: 10px
}

.social-button {
	text-decoration: none;
	display: block
}

.social-button:hover {
	background-color: #f2f2f2;
	transition: 0.5s;
}

.social-button img {
	width: 25px;
	height: 25px;
}

/* APP NAVIGATION
======================= */
#app-nav {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px
}

#app-nav img {
	width: 40px;
	height: 40px;
}

#app-nav h1 {
	margin: 0 20px;
	text-align: center;
	font-size: 1.75rem;
	width: 100%;
}

/* ================ */

.card-dashboard {
	background-color: seagreen;
	border-radius: 15px;
}

.card-dashboard a {
	display: block;
	padding: 30px 20px;
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.card-dashboard a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	transition: 0.3s;
}

.card-atv-fisica {
	background-image: url('./images/draw-welcome.png');
	background-repeat: no-repeat;
	/* background-position: right top; */
	background-position-x: 90px;
	background-position-y: 20px;
	background-size: cover;
}

.card-weight {
	background-image: url('./images/draw-welcome.png');
	background-repeat: no-repeat;
	background-position-x: 90px;
	background-position-y: 20px;
	background-size: cover;
}