* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f4f4f4;
}

#wrapper {
	background-color: white;
	flex-direction: column;
	display: flex;
	height: 100vh;
}

#wrapper-inner {
	background-color: green;
	border-radius: 20px;
	border: 1px solid #dfdfdf;
	margin: 0 20px;
}

@media (min-width: 992px) {
	#wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		height: 100%;
	}

	#inner-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 100%;
	}

}

#app-nav {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	padding: 10px
}

#app-nav img {
	width: 40px;
	height: 40px;
}

#app-nav h1 {
	margin: 0 20px;
	text-align: center;
	font-size: 1.75rem;
	width: 100%;
}

/* ====================== */

.btn-pill {
	border-radius: 80px;
	font-weight: bold;
	padding: 18px;
}

.separator-l:before {
	width: 50px;
	height: 2px;
	content: " ";
	display: inline-block;
	margin: 0 10px 3px 0;
	background: #ccc;
}

.separator:before {
	width: 19%;
	height: 2px;
	content: " ";
	display: inline-block;
	margin: 0 10px 5px 0;
	background: #ccc;
}

.separator:after {
	width: 15%;
	height: 2px;
	content: " ";
	display: inline-block;
	margin: 0 0 5px 10px;
	background: #ccc;
}

.separator-timeline,
.separator-timeline-mini {
	width: 2px;
	height: 60px;
	border-left: 2px dashed #ddd;
	margin: 20px auto;
}

.separator-timeline-mini {
	height: 30px;
}

.card:hover {
	background: #f0f1f1;
	transition: -1.3s;
}

.spinner-lg {
	width: 50px;
	height: 51px;
}

.radius-1 {
	border-radius: 5px
}

.radius-2 {
	border-radius: 8px
}

.radius-3 {
	border-radius: 12px
}

.radius-4 {
	border-radius: 16px
}

/* ====================== */

.social-inline {
	display: flex;
	justify-content: flex-around;
}

.social-inline li {
	margin: 0 15px 0 0
}

.social-icons-list {
	padding: 0
}

.social-icons-list li {
	list-style: none;
	margin-top: 10px
}

.social-button {
	text-decoration: none;
	display: block
}

.social-button:hover {
	background-color: #f2f2f2;
	transition: 0.5s;
}

.social-button img {
	width: 25px;
	height: 25px;
}

/* ====================== */

.card-dashboard {
	background-color: seagreen;
	border-radius: 15px;
}

.card-dashboard a {
	display: block;
	padding: 30px 20px;
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.card-dashboard a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 15px;
	transition: 0.3s;
}

.card-activities {
	background-image: url('./images/feature-atv.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-color: orangered;
	background-size: auto;
}

.card-weight {
	background-image: url('./images/feature-hist.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-color: seagreen;
	background-size: auto;
}

.card-professionals {
	background-image: url('./images/feature-pro.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-color: royalblue;
	background-size: auto;
}

.card-calendar {
	background-image: url('./images/feature-cal.png');
	background-repeat: no-repeat;
	background-position: 95% center;
	background-color: coral;
	background-size: auto;
}

/* ====================== */

.distribute-inline {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

.distribute-inline li {
	list-style: none;
	text-align: center;
}

.distribute-inline a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 5px;
}

.distribute-inline a:hover,
.distribute-inline a:focus {
	border-radius: 10px;
	background: #f1f1f1;
	transition: 0.3s;
}

.distribute-inline img {
	width: 70%;
	height: auto;
	margin-top: 8px;
}

/* ====================== */

.list-item {
	padding: 5px;
}

.list-item ul {
	margin: 0;
}

.list-item li {
	width: 100%;
}

.list-item a {
	text-decoration: none;
	color: #333;
}

.list-item small {
	font-weight: bold;
}

.list-item span {
	font-size: 18px;
}

.list-item img {
	width: 20px;
	height: auto;
	margin-top: -5px;
}